<!-- Finger Pop Game - Game.HTML
 * Author:  Arun Hariharan Sivasubramaniyan
 * Subject: Distributed Algorithms, Project 1 
 * Revision: 1
 * Date revised: 12.4.2015
 -->

<!doctype html>
<html lang="en">
<head>

    <title>Finger Pop</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

    <script type="text/javascript" src="/javascripts/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.simulate.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.simulate.ext.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.simulate.drag-n-drop.js"></script>

    <script type="text/javascript" src="/javascripts/tools.js"></script>
    <script type="text/javascript" src="/javascripts/globals.js"></script>
</head>

<body>

<div class="overlay"></div>

<div id="playerNameDialog" class="modal">
    Please enter a name:
    <input id="playerNameTextField" type="text">
    <button id="playerNameSubmit">GO</button>
</div>

<div id="main">
    <div id="stats">
        <div id="teamScores">
            <h1>Team Scores</h1>
            <table id="teamPoints">
                <tr>
                    <td class="leftAlignedTable">PLAYER</td>
                    <td class="rightAlignedTable">POINTS</td>
                </tr>
            </table>
        </div>

    </div>
    <div id="content">

        <div id="cardSlots"></div>
        <div id="cardPile"></div>
        <div id="messages">
            <h1>Messages</h1>
            <textarea id="console" rows="14" cols="90" readonly>XXXXXXXXXXXXXXXXXXXXX</textarea>
        </div>

    </div>
</div>

</body>
</html>

